body {
    background: #24353f !important;
    font-family: 'Titillium Web', sans-serif;
}
h1{
    color: #17a2b8;

}
.boxInput{    background: #24353f;
    box-shadow: red;
    
    box-shadow: -5px -5px 30px 5px rgba(255, 0, 0, 0.301), 5px 5px 30px 5px rgba(195, 0, 255, 0.329);
}
input::placeholder
{
    color:  rgb(182, 182, 182) !important;
}
#usernameAlert, #userEmailAlert, #userPasswordAlert
{
    font-size: .8rem;
}
.navbar-collapse
{background: #24353f !important;}
.z{ box-shadow: -5px -5px 30px 5px rgba(255, 0, 0, 0.301), 5px 5px 30px 5px rgba(195, 0, 255, 0.329);}